.TodoItem {
    /* display: flex;
    gap: 30px;
    padding: 5px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 6px;
    padding: 5px 30px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.text {
    margin: 0;
}

.item {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
}

.active {
    font-style: italic;
    text-decoration: line-through;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}